VITE_SUPABASE_URL=https://dxvnemdmgdckdfzilnkr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR4dm5lbWRtZ2Rja2RmemlsbmtyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYyODY2NDAsImV4cCI6MjEwMTg2MjY0MH0.OoCEj2WVg_irDAaETZ-xZTuT_z_OrWVfBTIysgCxMqw
